body {
  padding-bottom: 5em;
  color: #303029;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background: #E1E1E1;
}

a {
  color: #00AFB1;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

a:hover {
  color: #FFF7A4;
}

h1 {
  letter-spacing: 7px;
  text-align: center;
  font-size: 2.5em;
}

.instructions {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
}

.app-inner {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.rhyme-schemes {
  padding: 10px;
}

input[type="radio"]{
  margin: 5px;
}

.notification {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #00AFB1
}

.text {
  margin: auto;
  width: 100%;
  color: #E1E1E1;
  background: #1D1D1D;
  position: relative;
}

.text textarea {
  width: 100%;
  padding: 0.7em;
  resize: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3em;
  background: transparent;
}

.text textarea:focus {
  outline: none;
}

.rhyme {
  margin: 1em auto;
  background: #1D1D1D;
  border: none;
  width: 6em;
  font-size: 1.5em;
  color: #FFF7A4;
  padding: 15px;
  transition: background 0.5s;
  transition: color 0.5s;
}

.rhyme:hover, .rhyme:focus {
  border: none;
  background: #FFF7A4;
  color: #1D1D1D;
  outline: none;
}

.rhyme:active {
  background: black;
  color: #FFF7A4;
  outline: none;
}

.rhyme-suggestions {
  position: absolute;
  padding: 0px 0px;
  margin: -16px;
  text-align: left;
}


.rhyme-suggestion:hover {
  cursor: pointer;
}

.rhyme-suggestion.active {
  color: #FFF7A4;
}

/* Tablet Styles */
@media screen and (min-width: 750px) {
 .app-inner, .instructions {
  width: 80%;
 }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }

  .rhyme-suggestions {
    padding: 5px 15px;
    margin: 0;
  }

  .instructions {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5em;
  }

  .app-inner {
    margin: 0 auto;
    width: 50%;
  }

  .text {
    margin: auto;
    width: 80%;
    padding: 15px 30px;
  }

  .rhyme {
    margin: 1em auto;
    width: 6em;
  }
}
